.active {
    font-weight: bold;
    border: 1px solid #086375;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #086375;
    background-color: #A7FFF6;
  }
  .nav-link:hover {
    border: 2px solid #086375;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #086375;
  }
  #title{
  color: #086375;
  font-family: "Balsamiq Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 50px;
  margin-left: 150px;
  font-style: normal;
  }
  #nav{
    color: #A4F9C8;
  }
  #nav1, #nav2,#nav3,#nav4,#nav5{
    color: #086375;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-bottom: 3px solid #086375;
    border-radius: 30px;
  }
  #navbar{
    color: #A4F9C8;
  }
  #auti{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #086375;
    font-size: 145px;
    margin-top: 160px;
    margin-left: 160px;
  }
  #tagline{
    color: #1da9c5;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  margin-left: 150px;
  }
  #autimg{
    margin-left: 80px;
    margin-top: 70px;
  }
  #cont2{
    background-color: #AAD9BB;
  }
  #img1{
    margin: 100px;
  }
  #who{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  color: #52154E;
  font-size: 98px;
  text-align: center;
  }
  #choose{
   color: #1d2526 ;
   font-family: "Poppins", sans-serif;
  font-weight: 540;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  }
  .channel-container {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 130px;
  }
  .channel {
    width: 20%; /* Adjusted width to make them narrower */
    height: 170px; /* Increased height slightly */
    background: #B3FFAB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 10px; /* Added margin-bottom for spacing */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 0px;
  }
  .channel:hover {
    background-color: #2b2d42; /* Deep blue hover color */
    color: #edf2f4; /* Calming text color */
  }
  .channel a {
    text-decoration: none;
    color: inherit;
  }
  #ch1,
  #ch2,
  #ch3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 40px;
    color: #086375;
  }
  .cont3{
    background-color: #6D88D9;
  }
  #who_cont{
    margin-top: 50px;
  }
  
  #new_banner{
    background-color: #AAD9BB;
  }
  #dashboard{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  color: #52154E;
  font-size: 85px;
  text-align: center;
  }
  .card-header{
    background-color: #cce4d6;
  }
  .clickbtn{
    border: 4px solid #64b084;
  }
  .click{
    text-decoration: none;
    color: black;
  }
  
